alacritty
atool
aws-cli
bemenu
bind-tools
brightnessctl
browsh-bin
cinnamon
cpio
curl
debian-whois-mkpasswd
dmenu
dmidecode
docker
docker-compose
docker-machine
docker-machine-driver-kvm2
dos2unix
dunst
ebtables
exa
exfat-utils
f2fs-tools
fd
feh
firefox
fortune-mod
fortune-mod-it
fzf
gnome-mpv
gnome-screenshot
gnu-netcat
go
google-chrome
gucharmap
gvfs-smb
htop
httpie
i3-gaps
i3lock
icdiff
jq
kubectl-bin
kubernetes-helm-bin
lastpass-cli
libvirt
lightdm
lightdm-gtk-greeter
mako-git
minikube-bin
mkisolinux
most
mpv
ncdu
neofetch
neovim
nerd-fonts-complete
networkmanager
paprefs
pasystray
pavucontrol
polybar
pulseaudio
qemu
qemu-arch-extra
ranger
ripgrep
rsync
siege
slack-desktop
spaceship-prompt-git
stress
sway-git
swayidle
swayidle-git
swaylock
swaylock-git
sxiv
terminus-font
termite
terraform
terraform-provider-libvirt
tflint
the_silver_searcher
tmux
tree
udisks2
unzip
vault
virt-manager
visual-studio-code-bin
w3m
waybar-git
wget
whois
wlroots-git
xclip
xdg-user-dirs
xorg
xorg-xeyes
xorg-xinit
xss-lock
yay-bin
yq2-bin
zsh
