; Polybar
; https://github.com/jaagr/polybar


[colors]
background = {{ palette['color0'] }}
foreground = {{ palette['color15'] }}

{% for item in palette|dictsort %}
{{ item[0].ljust(8) }} = ${xrdb:{{ item[0] }}}
{% endfor %}


[bar/{{ polybar_name }}]
; Modules
modules-left   = home i3 xwindow
modules-right  = cpu memory wlan eth disk temperature datetime

; The separator will be inserted between the output of each module
;separator =

; Put the bar at the top of the screen
bottom = false

; Dimensions defined as pixel value (e.g. 35) or percentage (e.g. 50%)
width = 100%
height = 13

; Prefer fixed center position for the `modules-center` block
; When false, the center position will be based on the size of the other blocks.
fixed-center = true

; Fonts are defined using <font-name>;<vertical-offset>
; Font names are specified using a fontconfig pattern.
; See the Fonts wiki page for more details
font-0 = "Noto Sans:size=10;2"
font-1 = "AnonymicePowerline Nerd Font:size=10;2"

; Number of spaces to add at the beginning/end of the bar
; Individual side values can be defined using:
;   padding-{left,right}
padding-left = 0
padding-right = 0

; Number of spaces to add before/after each module
; Individual side values can be defined using:
;   module-margin-{left,right}
module-margin-right = 0
module-margin-left = 0

;offset-x = 1085
;offset-y = 0

; Position of the system tray window
; If empty or undefined, tray support will be disabled
; NOTE: A center aligned tray will cover center aligned modules
; Available positions: left, center, right
tray-position = center

; If true, the bar will not shift its
; contents when the tray changes
tray-detached = true

; Tray icon max size
tray-maxsize = 16

; Pad the sides of each tray icon
tray-offset-x = 0
tray-offset-y = 0
tray-padding = 0
tray-scale = 1

; Background argb color (e.g. #f00, #ff992a, #ddff1023)
background = ${colors.background}

; Foreground argb color (e.g. #f00, #ff992a, #ddff1023)
foreground = ${colors.foreground}

;border-left-size = 15
;border-right-size = 15
;border-color = ${colors.green}

; Tell the Window Manager not to configure the window.
; Use this to detach the bar if your WM is locking its size/position.
;override-redirect = true

; Restack the bar window and put it above the selected window manager's root
; Fixes the issue where the bar is being drawn on top of fullscreen window's
; Currently supported WM's:
;   bspwm
;   i3 (requires: `override-redirect = true`)
;wm-restack = true

; Enable support for inter-process messaging
; See the Messaging wiki page for more details.
enable-ipc = false


[module/home]
type = custom/script

; Command to be executed (using "/usr/bin/env sh -c [command]")
exec = hostname

; Conditional command that, if defined, needs to exit successfully
; before the main exec command is invoked.
; Default: ""
;exec-if = pgrep -x myservice

; Will the script output continous content?
; Default: false
;tail = true

; Seconds to sleep between updates
; Default: 2 (0 if `tail = true`)
interval = 3600

label-padding = 2
format = <label>
label  = %output%

label-background = {{ palette['color1'] }}
label-foreground = {{ palette['color0'] }}

format-suffix            = 
format-suffix-background = {{ palette['color0'] }}
format-suffix-foreground = {{ palette['color1'] }}

; "click-(left|middle|right)" will be executed using "/usr/bin/env sh -c $COMMAND"
;click-left = echo
;click-middle = echo
;click-right = echo

; "scroll-(up|down)" will be executed using "/usr/bin/env sh -c $COMMAND"
;scroll-up = echo
;scroll-down = echo


[module/i3]
type = internal/i3

; Only show workspaces defined on the same output as the bar
; Useful if you want to show monitor specific workspaces
; on different bars
pin-workspaces = false

; Split the workspace name on ':'
strip-wsnumbers = true

; Sort the workspaces by index instead of the default
; sorting that groups the workspaces by output
index-sort = false

; Create click handler used to focus workspace
enable-click = true

; Create scroll handlers used to cycle workspaces
enable-scroll = true

; Wrap around when reaching the first/last workspace
wrapping-scroll = true

; Set the scroll cycle direction
reverse-scroll = false

; Format
format = <label-state> <label-mode>

; Mode
label-mode      = %{B{{ palette['color166'] }} F{{ palette['color0'] }}}%{B{{ palette['color166'] }} F{{ palette['color0'] }}}   %mode%   %{B#{{ palette['color0'] }} F{{ palette['color166'] }}}

; Workspaces
; Available tokens:  %name% %icon% %index% %output%
label-focused   = %{B{{ palette['color10'] }} F{{ palette['color0'] }}}%{B{{ palette['color10'] }} F{{ palette['color0'] }}}   %name%   %{B#{{ palette['color0'] }} F{{ palette['color10'] }}}
label-unfocused = %{B{{ palette['color0'] }} F{{ palette['color0'] }}}%{B{{ palette['color0'] }} F{{ palette['color15'] }}}   %name%   %{B#{{ palette['color0'] }} F{{ palette['color0'] }}}
label-visible   = %{B{{ palette['color0'] }} F{{ palette['color0'] }}}%{B{{ palette['color0'] }} F{{ palette['color15'] }}}   %name%   %{B#{{ palette['color0'] }} F{{ palette['color0'] }}}
label-urgent    = %{B{{ palette['color9'] }} F{{ palette['color0'] }}}%{B{{ palette['color9'] }} F{{ palette['color0'] }}}   %name%   %{B#{{ palette['color0'] }} F{{ palette['color9'] }}}


[module/xwindow]
type = internal/xwindow

label-background = {{ palette['color7'] }}
label-foreground = {{ palette['color0'] }}
label-padding    = 5
format = <label>
label  = %title%

format-prefix            = 
format-prefix-background = {{ palette['color7'] }}
format-prefix-foreground = {{ palette['color0'] }}

format-suffix            = 
format-suffix-background = {{ palette['color0'] }}
format-suffix-foreground = {{ palette['color7'] }}


[module/cpu]
type = internal/cpu
format = <label> <bar-load>
label =  Cpu %percentage%%
format-padding = 2

bar-load-width = 9
bar-load-foreground-0 = {{ palette['color12'] }}
bar-load-foreground-1 = {{ palette['color10'] }}
bar-load-foreground-2 = {{ palette['color11'] }}
bar-load-foreground-3 = {{ palette['color9'] }}
bar-load-indicator = |
bar-load-indicator-font = 6
bar-load-indicator-foreground = #ff
bar-load-fill = ─
bar-load-fill-font = 6
bar-load-empty = ─
bar-load-empty-font = 6
bar-load-empty-foreground = {{ palette['color7'] }}


[module/memory]
type = internal/memory
format = <label> <bar-used>
label =  Ram %percentage_used%%
format-padding = 2

bar-used-width = 9
bar-used-foreground-0 = {{ palette['color12'] }}
bar-used-foreground-1 = {{ palette['color10'] }}
bar-used-foreground-2 = {{ palette['color11'] }}
bar-used-foreground-3 = {{ palette['color9'] }}
bar-used-indicator = |
bar-used-indicator-font = 6
bar-used-indicator-foreground = #ff
bar-used-fill = ─
bar-used-fill-font = 6
bar-used-empty = ─
bar-used-empty-font = 6
bar-used-empty-foreground = {{ palette['color7'] }}


[module/disk]
type = internal/fs
mount-0  = /
interval = 10

label-mounted   =   %mountpoint%  %percentage_used%% of %total%
label-unmounted = 

label-mounted-padding   = 2
label-unmounted-padding = 2

label-mounted-foreground   = {{ palette['color0'] }}
label-mounted-background   = {{ palette['color7'] }}

label-unmounted-foreground = {{ palette['color0'] }}
label-unmounted-background = {{ palette['color7'] }}

format-mounted   = <label-mounted>
format-unmounted = <label-unmounted>

format-mounted-prefix              = 
format-mounted-prefix-background   = {{ palette['color0'] }}
format-mounted-prefix-foreground   = {{ palette['color7'] }}

format-unmounted-prefix            = 
format-unmounted-prefix-background = {{ palette['color0'] }}
format-unmounted-prefix-foreground = {{ palette['color7'] }}

format-mounted-suffix              = 
format-mounted-suffix-background   = {{ palette['color7'] }}
format-mounted-suffix-foreground   = {{ palette['color0'] }}

format-unmounted-suffix            = 
format-unmounted-suffix-background = {{ palette['color7'] }}
format-unmounted-suffix-foreground = {{ palette['color0'] }}


[module/temperature]
type = internal/temperature
thermal-zone     = 3
warn-temperature = 55

label      = %temperature%
label-warn = %temperature%

format      = <ramp><label>
format-warn = <ramp><label-warn>

label-padding      = 2
label-warn-padding = 2

ramp-0 = "  "
ramp-1 = "  "
ramp-2 = "  "

label-background = {{ palette['color8'] }}
label-foreground = {{ palette['color0'] }}
ramp-background  = {{ palette['color8'] }}
ramp-foreground  = {{ palette['color0'] }}

label-warn-background = {{ palette['color8'] }}
label-warn-foreground = {{ palette['color11'] }}

format-prefix              = 
format-prefix-background   = {{ palette['color0'] }}
format-prefix-foreground   = {{ palette['color8'] }}

format-warn-prefix            = 
format-warn-prefix-background = {{ palette['color0'] }}
format-warn-prefix-foreground = {{ palette['color8'] }}

format-suffix              = 
format-suffix-background   = {{ palette['color8'] }}
format-suffix-foreground   = {{ palette['color0'] }}

format-warn-suffix            = 
format-warn-suffix-background = {{ palette['color8'] }}
format-warn-suffix-foreground = {{ palette['color0'] }}


[module/eth]
type      = internal/network
interface = enp3s0
interval  = 3.0

label-connected    =  %downspeed%     %upspeed%
label-disconnected = 

label-connected-padding       = 2
label-disconnected-padding    = 2

label-connected-foreground    = {{ palette['color0'] }}
label-connected-background    = {{ palette['color8'] }}

label-disconnected-foreground = {{ palette['color0'] }}
label-disconnected-background = {{ palette['color8'] }}

format-connected              = <label-connected>
format-disconnected           = <label-disconnected>

format-connected-prefix               = 
format-connected-prefix-background    = {{ palette['color0'] }}
format-connected-prefix-foreground    = {{ palette['color8'] }}

format-disconnected-prefix            = 
format-disconnected-prefix-background = {{ palette['color0'] }}
format-disconnected-prefix-foreground = {{ palette['color8'] }}

format-connected-suffix               = 
format-connected-suffix-background    = {{ palette['color8'] }}
format-connected-suffix-foreground    = {{ palette['color0'] }}

format-disconnected-suffix            = 
format-disconnected-suffix-background = {{ palette['color8'] }}
format-disconnected-suffix-foreground = {{ palette['color0'] }}


[module/wlan]
type      = internal/network
interface = wlp4s0
interval  = 3.0

label-connected    =  %downspeed%     %upspeed%
label-disconnected =  

label-connected-padding       = 2
label-disconnected-padding    = 2

label-connected-foreground    = {{ palette['color0'] }}
label-connected-background    = {{ palette['color7'] }}

label-disconnected-foreground = {{ palette['color0'] }}
label-disconnected-background = {{ palette['color7'] }}

format-connected              = <label-connected>
format-disconnected           = <label-disconnected>

format-connected-prefix               = 
format-connected-prefix-background    = {{ palette['color0'] }}
format-connected-prefix-foreground    = {{ palette['color7'] }}

format-disconnected-prefix            = 
format-disconnected-prefix-background = {{ palette['color0'] }}
format-disconnected-prefix-foreground = {{ palette['color7'] }}

format-connected-suffix               = 
format-connected-suffix-background    = {{ palette['color7'] }}
format-connected-suffix-foreground    = {{ palette['color0'] }}

format-disconnected-suffix            = 
format-disconnected-suffix-background = {{ palette['color7'] }}
format-disconnected-suffix-foreground = {{ palette['color0'] }}


[module/datetime]
type     = internal/date
interval = 1

date     = "  %Y.%m.%d"
date-alt = "  %A, %d %B"
time     = "  %H:%M"
time-alt = "  %H:%M:%S"

label-background = {{ palette['color10'] }}
label-foreground = {{ palette['color0'] }}
label-padding    = 2
format           = <label>
label            = %date%    %time%

format-prefix            = 
format-prefix-foreground = {{ palette['color10'] }}
format-prefix-background = {{ palette['color0'] }}


; TODO


[module/volume]
type                      		= internal/volume

format = <label>
format-muted-background  		= #B6A5C8
format-volume-background  		= #B6A5C8

format-volume 					= <bar-volume>
format-muted  					= <label-muted>

label-muted   					=   sound muted
format-muted-padding 			= 0
format-padding 					= 2

bar-volume-width                = 8
bar-volume-gradient             = false
bar-volume-indicator            = 
bar-volume-indicator-font       = 4
bar-volume-indicator-foreground = #25232A
bar-volume-fill                 = 
bar-volume-fill-font            = 4
bar-volume-fill-foreground     	= #25232A
bar-volume-empty                = 
bar-volume-empty-font           = 4
bar-volume-empty-foreground 	= #25232A

bar-volume-background 			= ${colors.t4}
label-muted-background 			= ${colors.t4}

bar-volume-empty-background		= #B6A5C8
bar-volume-fill-background		= #B6A5C8
bar-volume-indicator-background	= #B6A5C8
;format-prefix            = 
;format-prefix-foreground = {{ palette['color10'] }}
;format-prefix-background = {{ palette['color0'] }}

format-volume-prefix 			= 
format-volume-prefix-foreground = #B6A5C8
format-volume-prefix-background = #DDCADB

format-volume-suffix 			= 
format-volume-suffix-foreground = #D3C1D6
format-volume-suffix-background = #B6A5C8
;
format-muted-prefix 			= 
format-muted-prefix-foreground 	= #B6A5C8
format-muted-prefix-background 	= #DDCADB

format-muted-suffix 			= 
format-muted-suffix-foreground 	= #D3C1D6
format-muted-suffix-background 	= #B6A5C8


;[module/battery]
;type    = internal/battery
;battery = BAT0
;adapter = AC
;full-at = 98
;
;format-charging    = <animation-charging> <label-charging>
;time-format        = %H:%M
;
;format-discharging = <ramp-capacity> <label-discharging>
;label-discharging  = %percentage%  (%time%)
;
;format-full-prefix = "  "
;format-padding     = 2
;
;format-background = ${colors.t6}
;#format-foreground = ${colors.magenta}
;format-foreground = ${colors.foreground}
;
;format-full-background        = ${self.format-background}
;format-charging-background    = ${self.format-background}
;format-discharging-background = ${self.format-background}
;
;format-full-foreground        = ${self.format-foreground}
;format-charging-foreground    = ${self.format-foreground}
;format-discharging-foreground = ${self.format-foreground}
;
;format-full-padding           = ${self.format-padding}
;format-charging-padding       = ${self.format-padding}
;format-discharging-padding    = ${self.format-padding}
;
;ramp-capacity-0 = 
;ramp-capacity-1 = 
;ramp-capacity-2 = 
;ramp-capacity-3 = 
;ramp-capacity-4 = 
;
;animation-charging-0 = 
;animation-charging-1 = 
;animation-charging-2 = 
;animation-charging-3 = 
;animation-charging-4 = 
;animation-charging-framerate = 750


;[module/mpd]
;type                  = internal/mpd
;
;label-song            =   %artist% - %title%
;label-song-maxlen     = 40
;label-song-ellipsis   = true
;
;format-online         = <label-song><toggle>
;# <icon-prev>    <icon-seekb>  <toggle>  <icon-seekf>    <icon-next>     <icon-random>  <icon-repeat>
;
;label-song-foreground = ${colors.foreground}
;label-song-background = ${colors.t5}
;icon-pause-background = ${self.label-song-background}
;icon-play-background  = ${self.label-song-background}
;icon-pause-foreground = ${self.label-song-foreground}
;icon-play-foreground  = ${self.label-song-foreground}
;
;label-song-padding = 2
;icon-pause-padding-right = 2
;icon-play-padding-right = 2
;
;icon-prev  = 
;icon-seekb = 
;icon-stop  = 
;icon-pause = 
;icon-play  = 
;icon-next  = 
;icon-seekf = 
;
;icon-random = 
;icon-repeat = 
;toggle-off-foreground = ${colors.grey}
;toggle-on-foreground  = ${colors.blue}
;
;
;format-online-prefix            = 
;format-online-prefix-foreground = ${module/xwindow.format-background}
;format-online-prefix-background = ${self.label-song-background}
;
;format-online-suffix            = 
;format-online-suffix-foreground = ${self.label-song-background}

