! -----------------------------------------------------------------------------
! File: Xresources.rofi
! -----------------------------------------------------------------------------

! Enable the extended coloring options
rofi.color-enabled: true

!                  bg       border   separator
!rofi.color-window: {{ palette['color0'] }}, {{ palette['color7'] }}, {{ palette['color7'] }}

!                  bg       fg       bg-alt   hl-bg    hl-fg
!rofi.color-normal: {{ palette['color0'] }}, {{ palette['color15'] }}, {{ palette['color0'] }}, {{ palette['color8'] }}, {{ palette['color7'] }}
!rofi.color-active: {{ palette['color3'] }}, {{ palette['color0'] }}, {{ palette['color3'] }}, {{ palette['color11'] }}, {{ palette['color0'] }}
!rofi.color-urgent: {{ palette['color1'] }}, {{ palette['color0'] }}, {{ palette['color1'] }}, {{ palette['color9'] }}, {{ palette['color0'] }}
