! -----------------------------------------------------------------------------
! File: Xresources
! -----------------------------------------------------------------------------

! Fonts
*.font:           {{ monospace_font_name }}:size=11:antialias=true:autohint=true;
*.boldFont:       {{ monospace_font_name }}:size=11:antialias=true:autohint=true:style:Bold;
*.italicFont:     {{ monospace_font_name }}:size=11:antialias=true:autohint=true:style:Italic;
*.boldItalicFont: {{ monospace_font_name }}:size=11:antialias=true:autohint=true:style:ItalicBold;

! XFT fonts
Xft.antialias: true
Xft.autohint: false
Xft.dpi: 96
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

*depth:                 32
*utf8:                  1
*saveLines:             99999

*faceSize:              10
*bellIsUrgent:          true

! Colors
! black:    color0 - color8
! red:      color1 - color9
! green:    color2 - color10
! yellow:   color3 - color11
! blue:     color4 - color12
! magenta:  color5 - color13
! cyan:     color6 - color14
! white:    color7 - color15

{% for item in palette|dictsort %}
*{{ item[0].ljust(8) }}: {{ item[1] }}
{% endfor %}

*.background:  {{ palette['color0']}}
*.foreground:  {{ palette['color7']}}
*.cursorColor: {{ palette['color7']}}
