#!/usr/bin/env zsh

# ZDOTDIR/.zprofile: executed by zsh(1)
# will be read when starting as a login shell (spawned by a TTY or by a SSH daemon)

# If not running interactively, don't do anything else
case $- in
  *i*) ;;
    *) return;;
esac
