#!/usr/bin/env sh

# Terminate already running bar instances
killall -q polybar

# Wait until the processes have been shut down
while [ $(pgrep -xc polybar) -gt 0 ]; do sleep 0.2; done

# Launch 'desktop' bar
[ -f "{{ xdg_config_home }}/polybar/config" ] && \
  command -v polybar >/dev/null 2>&- && \
  polybar -r -c "{{ xdg_config_home }}/polybar/config" desktop &
