fun! promptline#themes#{{ vi_theme }}#get()
  return {
    \'a'    : [235, 109],
    \'b'    : [235, 142],
    \'c'    : [235, 214],
    \'x'    : [235, 208],
    \'y'    : [235, 175],
    \'z'    : [235, 108],
    \'warn' : [235, 167]}
endfun
