#
# ~/.bashrc ({{ xdg_config_home }}/bash/rc)
#

# If not running interactively, don't do anything
[[ "$-" != *i* ]] && return

# Source common shell configuration
[ -f '{{ xdg_config_home }}/shell/rc' ] && \
  . '{{ xdg_config_home }}/shell/rc'

# Source temporary common shell configuration
[ -f '{{ xdg_config_home }}/shell/scratchpad' ] && \
  . '{{ xdg_config_home }}/shell/scratchpad'


#
# Options
#

# Changing directory, Experimental
# Case-insensitive globbing (used in pathname expansion)
shopt -s nocaseglob;

# Autocorrect typos in path names when using `cd`
shopt -s cdspell;


#
# History
#

# File
HISTFILE='{{ xdg_cache_home }}/bash/history'

# Size
HISTSIZE=32768

# Avoid duplicates
HISTCONTROL=ignoredups:erasedups

# Ignore
HISTIGNORE='&:ls:cd ~:cd ..:pwd:clear:[bf]g:exit:h:history'

# Timestamps for later analysis. www.debian-administration.org/users/rossen/weblog/1
HISTTIMEFORMAT='%F %T '

# When the shell exits, append to the history file instead of overwriting it
shopt -s histappend


#
# Path
#


#
# Message of the Day
#

# Print pretty system logo/info (archey)
[ $(command -v neofetch) ] && neofetch

# Fortune
[ $(command -v fortune) ] && fortune computers science && echo

# Show today's anniversaries
[ $(command -v calendar) ] && [ -r /usr/share/calendar/calendar.world ] && {
  calendar -A 0 -f /usr/share/calendar/calendar.world; }


#
# Prompts
#

# PS2 – Continuation interactive prompt
PS2='  '

# PS4 - Prefix tracing output (set -x)
PS4='$0.$LINENO+ '

# Source external script for PS1 configuration
[ -f '{{ xdg_config_home }}/bash/prompt' ] && \
  . '{{ xdg_config_home }}/bash/prompt'

# After each command, append to the history file and reread it
#export PROMPT_COMMAND="${PROMPT_COMMAND:+$PROMPT_COMMAND$'\n'}history -a; #history -c; history -r"
