#
# ~/.bash_profile ({{ xdg_config_home }}/bash/profile)
#

# If interactive, source {{ xdg_config_home }}/bash/rc
[[ "$-" == *i* ]] && \
  [ -r '{{ xdg_config_home }}/bash/rc' ] && \
  . '{{ xdg_config_home }}/bash/rc'

