#
# ~/.zshrc ({{ xdg_config_home }}/zsh/rc)
#

# If not running interactively, don't do anything
[[ "$-" != *i* ]] && return

# Source common shell configuration
[ -f '{{ xdg_config_home }}/shell/rc' ] && \
  . '{{ xdg_config_home }}/shell/rc'

# Source temporary common shell configuration
[ -f '{{ xdg_config_home }}/shell/scratchpad' ] && \
  . '{{ xdg_config_home }}/shell/scratchpad'


# Set Emacs keymap
bindkey -e

# Keybindings
bindkey "^[[7~" beginning-of-line #Home key
bindkey "^[[8~" end-of-line #End key
bindkey "^[[3~" delete-char #Del key
bindkey "^[[A" history-beginning-search-backward #Up Arrow
bindkey "^[[B" history-beginning-search-forward #Down Arrow
bindkey "^[Oc" forward-word # control + right arrow
bindkey "^[Od" backward-word # control + left arrow
bindkey "^H" backward-kill-word # control + backspace
bindkey "^[[3^" kill-word # control + delete

# Enable autocomplete
autoload -Uz compinit
compinit -d '{{ xdg_cache_home }}/zsh/zcompdump'

# autocompletion with an arrow-key driven interface
zstyle ':completion:*' menu select

# Autocompletion of command line switches for aliases
setopt COMPLETE_ALIASES


#
# History
#

# File
HISTFILE='{{ xdg_cache_home }}/zsh/history'

# Size
HISTSIZE=1024
SAVEHIST=32768

# Ignore duplicate in history
setopt hist_ignore_dups

# Prevent record in history entry if preceding them with at least one space
setopt hist_ignore_space

# History keybindings
autoload -Uz up-line-or-beginning-search down-line-or-beginning-search
zle -N up-line-or-beginning-search
zle -N down-line-or-beginning-search

[[ -n "$key[Up]"   ]] && bindkey -- "$key[Up]"   up-line-or-beginning-search
[[ -n "$key[Down]" ]] && bindkey -- "$key[Down]" down-line-or-beginning-search


#
# Various
#

# Nobody need flow control anymore. Troublesome feature.
setopt noflowcontrol

#
# Prompts
#

# PS2 – Continuation interactive prompt
PS2='  '

# PS4 - Prefix tracing output (set -x)
PS4='$0.$LINENO+ '

# Source external script for PS1 configuration
[ -f '{{ xdg_config_home }}/zsh/prompt' ] && \
  . '{{ xdg_config_home }}/zsh/prompt'

